<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928027907279-4gasgmvsd30v6v2g30t31p5u7nb6l4cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928027907279-4gasgmvsd30v6v2g30t31p5u7nb6l4cm</string>
	<key>API_KEY</key>
	<string>AIzaSyB5hHy5BlJOYAtV-hLWVujVqCM4FSb2JfA</string>
	<key>GCM_SENDER_ID</key>
	<string>928027907279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recipes.bhbbites</string>
	<key>PROJECT_ID</key>
	<string>bhbitesrecipes-c727e</string>
	<key>STORAGE_BUCKET</key>
	<string>bhbitesrecipes-c727e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928027907279:ios:b6b21e6a85e157e0fe93ba</string>
</dict>
</plist>